@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --card: 210 20% 98%;
    --ring: 210 100% 50%;
    --input: 210 14% 95%;
    --muted: 210 14% 95%;
    --accent: 49 99% 71%;
    --border: 210 14% 95%;
    --radius: 0.8rem;
    --background: 210 25% 98%;
    --foreground: 210 84% 11%;
    --popover: 210 20% 98%;
    --primary: 210 100% 50%;
    --secondary: 210 14% 95%;
    --destructive: 358 98% 66%;
    --card-foreground: 210 84% 11%;
    --muted-foreground: 213 14% 38%;
    --accent-foreground: 210 84% 11%;
    --popover-foreground: 210 84% 11%;
    --primary-foreground: 0 0% 100%;
    --secondary-foreground: 210 84% 11%;
    --destructive-foreground: 0 0% 100%;
    
    --sidebar-background: 210 25% 98%;
    --sidebar-foreground: 210 84% 11%;
    --sidebar-primary: 210 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 14% 95%;
    --sidebar-accent-foreground: 210 84% 11%;
    --sidebar-border: 210 14% 95%;
    --sidebar-ring: 210 100% 50%;
  }

  .dark {
    --card: 211 83% 16%;
    --ring: 210 100% 50%;
    --input: 214 34% 25%;
    --muted: 214 34% 25%;
    --accent: 49 99% 71%;
    --border: 214 34% 25%;
    --popover: 211 83% 16%;
    --primary: 210 100% 50%;
    --secondary: 214 34% 25%;
    --background: 210 84% 11%;
    --foreground: 210 25% 98%;
    --destructive: 358 98% 66%;
    --card-foreground: 210 25% 98%;
    --muted-foreground: 213 22% 58%;
    --accent-foreground: 210 84% 11%;
    --popover-foreground: 210 25% 98%;
    --primary-foreground: 0 0% 100%;
    --secondary-foreground: 210 25% 98%;
    --destructive-foreground: 0 0% 100%;
    
    --sidebar-background: 210 84% 11%;
    --sidebar-foreground: 210 25% 98%;
    --sidebar-primary: 210 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 214 34% 25%;
    --sidebar-accent-foreground: 210 25% 98%;
    --sidebar-border: 214 34% 25%;
    --sidebar-ring: 210 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
